<div id="post_2">
				<table id="pid180" cellspacing="0" cellpadding="0">
					<tr>
						<td class="pls" rowspan="2">
							<div class="pi">
								<div class="authi">sss</div>
							</div>
							<!--显示用户信息 START-->
							<div class="p_pop blk bui" id="userinfo180" style="display:none; margin-top: -11px;" onmouseout="showdpic('userinfo','180')">
								<div class="m z">
									<div id="userinfo180_ma"><img src="upload/2019/06/19/yh_5d0a1de376b80.jpg" class="max_pic" /></div>
								</div>
								<div class="i y">
								<div>
								<strong>sss</strong>
								<em>当前在线</em>
								</div>
								<dl class="cl"><dt>注册时间</dt><dd>2019-06-10</dd><dt>积分</dt><dd>58</dd><dt>最后登录</dt><dd>2019-06-20</dd></dl>
								<div class="imicn">
								<a href="#" target="_blank" title="查看详细资料"><img src="/public/images/userinfo.gif" alt="查看详细资料" /></a>
								</div>
								<div id="avatarfeed"><span id="threadsortswait"></span></div>
								</div>
							</div>
							<!--显示用户信息 END-->
							<div>
								<div class="avatar" onmouseover="showbpic('userinfo','180')">
									<img src="upload/2019/06/19/yh_5d0a1de376b80.jpg" class="max_pic" />
								</div>
								<p><em>普通用户</em></p>
								<p><em>硕士</em></p>
							</div>
						</td>
						<td class="plc">
						<div class="pi">
							<strong><a>板凳</a></strong>
							<div class="pti">
								<div class="pdbt">
								</div>
								<div class="authi">
									<img class="authicn vm" id="authicon180" src="/public/images/online_admin.gif" />
									<em id="authorposton180">发表于 <span title="2019-06-20 17:13:26">16小时前</span></em>
									<!--<span class="pipe">|</span><a href="#">只看该作者</a>-->
								</div>
							</div>
						</div>
						<div class="pct">
							<div class="pcb">
																<div class="t_fsz">
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td class="t_f" id="postmessage_180">
																						</td>
										</tr>
									</table>
								</div>
																<div id="comment_180" class="cm">
								</div>
								<div id="post_rate_div_180"></div>
							</div>
						</div>
												</td>
					</tr>
					<tr>
						<td class="plc plm"></td>
					</tr>
					<tr>
						<td class="pls"></td>
						<td class="plc">
							<div class="po">
																<span class="y">
									<label for="manage5">
									<a href="detail.php?id=146&hid=180&delht=1">删除</a><span class="pipe">|</span><a href="detail.php?id=146&hid=180&istopht=1">置顶</a><span class="pipe">|</span><a href="detail.php?id=146&hid=180&isdislpay=1">屏蔽</a>
									</label>
								</span>
																<div class="pob cl">
									<em>
										<a class="fastre" href="#f_pst">回复</a>
									</em>
								</div>
							</div>
						</td>
					</tr>
					<tr class="ad">
						<td class="pls"></td>
						<td class="plc"></td>
					</tr>
				</table>
			</div>
